:root {
  /* --grid-columns: 16;
  --grid-rows: 16; */
  --main-background-color: #d09dfa;
  --button-background-color: #664d7a;
  --active-button-background-color: #bb8de0;
  --button-bar-background-color: #31253b;
}

body {
  font-family: "VT323", sans-serif;
  text-align: center;
  background-color: var(--main-background-color);
}

h1 {
  font-size: 5rem;
  margin: 0 auto;
  padding: 0;
}

main {
  margin: auto;
  text-align: center;
}

input[type="radio"] {
  display: none;
}

label,
button {
  font-size: 1.5rem;
  color: whitesmoke;
}

#colorSelect label {
  display: block;
  width: fit-content;
}

#colorSelect label,
#generateGridButton {
  font-family: "VT323", sans-serif;
  background-color: var(--button-background-color);
  border: 4px outset var(--active-button-background-color);
  margin: 0;
  padding: 0.3rem;
  border-radius: 10px;
}

#colorRandom:checked + label[for="colorRandom"],
#colorBlack:checked + label[for="colorBlack"],
#colorWhite:checked + label[for="colorWhite"],
#generateGridButton:active {
  background-color: var(--active-button-background-color);
  border: 4px inset var(--button-background-color);
}

#topButtons,
.backgroundBox {
  background: var(--button-bar-background-color);
  border-radius: 10px;
  padding: 1rem;
  width: 670px;
  margin: 1rem auto;
  box-shadow: 4px 4px 4px black;
}

.backgroundBox {
  height: fit-content;
  width: fit-content;
}

#topButtons {
  padding: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 0;
  justify-content: center;
  align-items: center;
  gap: 0.5rem 3rem;
}

#gridSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#colorSelect {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
}

#generateGridButton {
  grid-column: span 2;
  width: fit-content;
  justify-self: center;
}

#gridContainer {
  margin: auto;
  display: grid;
  height: 650px;
  width: 650px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
}

footer {
  padding: 1rem;
}
