#etchContainer {
  margin: auto;
  display: grid;
  height: 32vw;
  width: 32vw;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr */
#etchContainer * {
  padding: 0;
  margin: 0;
}

#etchContainer div {
  outline: 1px solid black;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  /* content: ""; */
  /* grid-column: span 1;
  grid-row: span 1; */
  height: 2vw;
  width: 2vw;
}
